# Data Analysis for project Olist
GitHub location: https://github.com/LarsTinnefeld/Olist-order-profile-analysis

Tasks:

1) EDA
- Correlations and pattersn in connection with order size and order profile

2) Order profile analysis
- Units per order
- Lines per order
- Units per order line
- Pareto curve units
- Pareto curve order lines
- XYZ profile

3) 


Structure of this notebook:

- Data import and preparation
- Exploratory data analysis

---
## Data Preparation
### Importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("whitegrid")

### Importing datasets

In [5]:
df_orders_consolidated = pd.read_csv('df_orders_consolidated.csv')

In [4]:
df_orders_consolidated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102422 entries, 0 to 102421
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     102422 non-null  int64
 1   order_id                       102422 non-null  object
 2   customer_id                    102422 non-null  object
 3   order_status                   102422 non-null  object
 4   order_purchase_timestamp       102422 non-null  object
 5   order_approved_at              102408 non-null  object
 6   order_delivered_carrier_date   101395 non-null  object
 7   order_delivered_customer_date  102422 non-null  object
 8   order_estimated_delivery_date  102422 non-null  object
 9   date_ordinal                   102422 non-null  int64
 10  shipping_time_delta            102422 non-null  int64
 11  shipping_duration              102422 non-null  int64
 12  estimated_duration             102422 non-null  int64
 13  product_id                     102422 non-null  object
 14  qty                            102422 non-null  int64
 15  seller_id                      102422 non-null  object
 16  shipping_limit_date            102422 non-null  object
 17  price                          102422 non-null  float64
 18  freight_value                  102422 non-null  float64
 19  product_category_name          100962 non-null  object
 20  product_name_lenght            100962 non-null  float64
 21  product_description_lenght     100962 non-null  float64
 22  product_photos_qty             100962 non-null  float64
 23  product_weight_g               102422 non-null  float64
 24  product_length_cm              102422 non-null  float64
 25  product_height_cm              102422 non-null  float64
 26  product_width_cm               102422 non-null  float64
 27  order_line_cube_in_ltr         102422 non-null  float64
 28  price_round                    102422 non-null  float64
dtypes: float64(11), int64(6), object(12)
memory usage: 22.7+ MB